$browsers: -webkit- -moz- -o-;
body
{
    background-color: black;
}

/*** all mixin *****/
@mixin cont()
{
   content: '';
   position: absolute;
   display: block;
}


/*////////// class need to be extended ///////////*/
%eyes
{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    float: left;
    margin-top: 30px;
    position: relative;
    border: 1px solid #01c7be;
}
%beforeeyes
{
    @include cont();
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 15px;
}
%aftereyes
{
    @include cont();
    width: 100%;
    height: 50%;
    background-color: #01c7be;
    border-top-left-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-left-radius: -50px; 
    border-bottom-right-radius: -50px; 
    
}
%legs
{
    width: 30px;
    height: 25px;
    border-radius: 50%;
    background-color: #f7d35d;
    position: relative;
    top: 106px;
    
}
%trees
{
    @include cont();
    width: 178;
    height: 90px;
    border-radius: 50%;
     background-color: #aad95d;
    box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
}
/*///////////////////////////////////////////*/

/*////////////// animations //////////////*/



@keyframes cloudMove1
{
    0%{left: -50px}
    100%{left: 600px}
}
@keyframes cloudMove2
{
    0%{left: -100px}
    100%{left: 500px}
}

@keyframes eyeMove{
    0%{height: 0px}
    50%{height: 50%}
    100%{height: 20%}
}

/*///////////////////////////////////////*/



.circle
{
    width: 500px;
    margin: auto;
    border: 20px solid #f7dbcf;
    @each $b in browsers
    {
        #{$b}background:linear-gradient(to bottom, #86aecc 0%, #d4e4ef 100%);
    }
    background:linear-gradient(to bottom, #86aecc 0%, #d4e4ef 100%);
    height: 500px;
    margin-top: 100px;
    position: relative;
    border-radius: 50%;
   z-index: -2;
    overflow: hidden;
    /*//////////////  bird classes ////////////*/
    .bird
    {
        background-color: #11e7d7;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        margin: auto;
        margin-top: 150px;
        box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
        z-index: 20;
        &:after
        {
            @include cont();
            width: 20px;
            height: 74px;
            background-color: #11e7d7;
            position: absolute;
            left: 160px;
            top: 230px;
            border-radius: 40% 0% 50% 50%;
            box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
            z-index: -1;
            
        }
        &:before
        {
            @include cont();
            width: 20px;
            height: 74px;
            background-color: #11e7d7;
            position: absolute;
            left: 320px;
            top: 230px;
            border-radius: 0% 40% 50% 50%;
            box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
            z-index: -1;
            
        }
        .face .eye1
        {
            @extend %eyes;
            margin-left: 15px;
            overflow: hidden;
            
            &:after
            {
               @extend %aftereyes;
                @each $b in browsers
                {
                    #{$b}animation: eyeMove 3s infinite ease-in-out;
                }
                animation: eyeMove 3s infinite ease-in-out;
            }
            &:before
            {
                @extend %beforeeyes;
            }
        }
        
        
        .face .eye2
        {
            @extend %eyes;
            margin-left: 30px;
            overflow: hidden;
                &:before
                {
                   @extend %beforeeyes; 
                }
            &:after
                {
                    @extend %aftereyes;
                    animation: eyeMove 3s infinite ease-in-out;
                }
        }
        
        .face .nose
        {
            width: 40px;
            height: 55px;
            background-color: #eb9f2d;
            border-radius: 50%;
            position: relative;
            top: 83px;
            left: 69px;
            z-index: 9999;
            box-shadow: 1px 5px 12px #2c706d;
            &:after
            {
                @include cont();
                width: 20px;
                height: 10px;
                background-color: white;
                left: 10px;
                border-radius: 50%;
                top: 0px;
            }
            &:before
            {
                @include cont();
                width: 50px;
                height: 50px;
                border-radius: 82% 85% 99%  111%;
                top: -8px;
                left: -4px;
                background-color: #f7d35d;
                
            }
        }
        
    /*//////////// classes of legs ///////////////*/
       .leg1
        {
            @extend %legs;
            left: 36px;
        }
        .leg2
        {
            @extend %legs;
            left: 115px;
            top: 80px
        }
    
    /*///////////////////////////////////////////*/
        
    }
    /*/////////////////////////////////////////////*/
    
    
    /*///////////////classes of line ///////////*/
    .line
    {
        position: absolute;
        width: 640px;
        height: 400px;
        left: -72px;
        top: -70px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom-color: black;
        z-index: -1;
    }
    /*/////////////////////////////////////////*/
    /*////////////////classes of tree /////////*/
    .tree
    {
        background-color: #aad95d;
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 5px;
        left: 220px;
        border-radius: 30%;
        transform: rotate(45deg);
        box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
        &:after
        {
            @extend %trees;
            transform: rotate(-22deg);
            left: -97px;
            top: 45px;
        }
        &:before
        {
            @extend %trees;
            transform: rotate(292deg);
            right: -128px;
            top: -53px;
        }
    }
    /*/////////////////////////////////////////*/
    
    /*/////////////// classes of cloud /////////*/
    .cloud1
    {
        width: 80px;
        height: 40px;
        background-color: white;
        position: absolute;
        left: 100px;
        top: 100px;
        border-radius: 50px;
        animation: cloudMove1 6s infinite ease-in-out;
        &:after
        {
           @include cont();
            width: 50px;
            height: 50px;
            top: -10px;
            border-radius: 50%;
            background-color: white;
            left: 5px;   
        }
        &:before
        {
           @include cont();
            width: 30px;
            height: 30px;
            top: -10px;
            border-radius: 50%;
            background-color: white;
            left: 40px;
        }
    }
    
    .cloud2
    {
        width: 60px;
        height: 30px;
        background-color: white;
        position: absolute;
        left: 230px;
        top: 80px;
        border-radius: 50px;
        animation: cloudMove2 6s infinite ease-in-out;
        &:after
        {
           @include cont();
            width: 30px;
            height: 30px;
            top: -10px;
            border-radius: 50%;
            background-color: white;
            left: 5px;   
        }
        &:before
        {
           @include cont();
            width: 20px;
            height: 20px;
            top: -10px;
            border-radius: 50%;
            background-color: white;
            left: 30px;
        }
    }
    /*/////////////////////////////////////////*/
    
}